body{ background-color: aquamarine;
text-align: center;}

table{
  width: 500px;
  height: 500px;
  border:1px ridge maroon ;
  text-align: center;
  margin: auto;
} 
.cell {
  color : red;
  width: 50px;
  height:50px;
  border:1px ridge maroon;
}
button {
    /* color: #aaa; */
  background-color: goldenrod;
  text-align: center;
  overflow-x: hidden;
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: perspective(200px);
  position: relative;
  display: inline-block;
  margin: 35px auto; 
}